.banner-sec #video {
  border-radius: 10px;
}
.plum-service-sec h5.card-title a {
  color: #111c38;
  font-size: 22px;
}
.hero-content {
  z-index: 2;
  width: 100%;
}
.text-box.plumber-box {
  text-align: center;
}
.banner-sec .hero-content .text-box {
  text-align: center;
}
.banner-sec .text-box ul {
  display: inline-flex;
}
.plum-service-sec .card {
  overflow: hidden;
}
.plum-service-sec .card img.card-img-top {
  object-fit: cover;
  transition: 0.3s linear;
  aspect-ratio: 16/10;
}
.plum-service-sec .card:hover img.card-img-top {
  transform: scale(1.1);
}
.w-40 {
  width: 43% !important;
  margin-right: 5%;
}
.title1 h2 {
  font-size: 36px;
  font-weight: 700;
}
.title1 small {
  color: #ef0a21;
}
.bottom-box {
  background: #000;
  color: #fff;
  padding: 25px;
  max-width: 350px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
  font-weight: 600;
}
.bottom-box span {
  font-size: 28px;
  color: #ef0a21;
}
.how-do {
  padding: 100px 0;
  background: #f2f2f8;
}
.text-box.plumber-box .para {
  margin-bottom: 30px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.title.title-second span.font-size-56 {
  left: unset;
  transform: unset;
  width: 100%;
  text-align: center;
}
.step-box {
  width: 17%;
  display: inline-block;
  margin: 0 1.3%;
  text-align: center;
  vertical-align: top;
  transition: all 0.5s;
  position: relative;
}
.step-icon {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #ef0a21;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  padding: 30px;
  margin: 0 auto 20px;
  position: relative;
}
.step-box h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.step-box:after {
  content: "";
  width: 80px;
  height: 80px;
  background: url(../../images/commercial/arrow.png) no-repeat left center;
  background-size: 80px;
  position: absolute;
  right: -58px;
  top: 39px;
}
.step-box.last:after {
  display: none;
}
.step-box p {
  font-size: 13px;
}
.step-icon small {
  font-size: 22px;
  position: absolute;
  top: -22px;
  left: 37%;
  width: 40px;
  height: 40px;
  background: #ef0a21;
  border-radius: 100%;
  line-height: 40px;
  color: #fff;
}
.step-box:hover .step-icon {
  background: #ef0a21;
}
.step-box:hover h3 {
  color: #ef0a21;
}
.s-box {
  background: #fff;
  border-bottom: 3px solid #ef0a21;
  padding-bottom: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
}
.s-box h5 {
  text-align: center !important;
  margin: 25px 0 !important;
  line-height: 30px;
}
.f-box {
  background: #f1f1f1;
  border-radius: 8px;
  min-height: 100%;
}
.f-body {
  padding: 20px;
}
.f-box h5 {
  text-align: center !important;
  margin: 0 0 20px 0 !important;
  line-height: 30px;
}
.s-box .btn-link {
  color: #ef0a21;
  text-decoration: none;
}
.text-justify {
  text-align: justify;
}
.faq .accordion-button {
  color: #000;
  box-shadow: none;
  font-weight: 600;
  font-size: 20px;
}
.swiper-container2 {
  position: relative;
  width: auto;
  height: 300px;
}
.swiper-container2 > .swiper-slide__content {
  position: absolute;
  top: 0;
}
.swiper-container2 .swiper-slide {
  height: 300px;
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.8);
}
.swiper-container2 .swiper-slide.swiper-slide-active {
  transform: scale(1);
  background: #fc0;
}
.swiper-container2 .swiper-slide__content {
  height: 300px;
}
.btn-default1 {
  background: #ef0a21;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  height: 56px;
  display: inline-block;
  border: 1px solid #ef0a21;
  border-radius: 16px;
  min-width: 350px;
  line-height: 51px;
  padding: 0 30px;
}
.title1 h2 {
  font-size: 40px;
  font-weight: 700;
}
.faq .accordion-item {
  margin-bottom: 10px;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.faq .accordion-button {
  color: #000;
}
.faq .accordion-button::after {
  background: url(../images/commercial/arrow-up.png) no-repeat;
  background-position: center center;
  background-size: 20px;
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
}
.faq .accordion-button:not(.collapsed)::after {
  background: url(../images/commercial/arrow-down.png) no-repeat;
  background-position: center center;
  background-size: 20px;
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
}
.faq .accordion-body ul li {
  color: #000;
  margin: 5px 0 0 0;
}
.choose-box {
  background: #e7e7ee;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  min-height: 100%;
}
.choose-box h5 {
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0;
}
.how-do.choose-right {
  min-height: 475px;
  margin-bottom: 150px;
}
.prb-120 {
  position: relative;
  bottom: -120px;
}
.wrapper nav.nav-gallery {
  display: flex;
  justify-content: center;
}
.wrapper .items {
  display: flex;
  max-width: 920px;
  width: 100%;
  justify-content: center;
}
.items span {
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #ef0a21;
  border-radius: 50px;
  border: 2px solid #ef0a21;
  transition: all 0.3s ease;
  margin: 0 7px;
}
.items span.active,
.items span:hover {
  color: #fff;
  background: #ef0a21;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image {
  width: calc(100% / 4);
  padding: 7px;
}
.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img {
  transform: scale(1.1);
}
.gallery .image.hide {
  display: none;
}
.gallery .image.show {
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details {
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p {
  font-weight: 500;
  margin-left: 5px;
}
.details .icon {
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: url(../images/x-lg.svg) no-repeat left center;
  background-size: 25px;
  text-align: center;
  line-height: 25px;
}
.preview-box .image-box {
  width: 100%;
  display: flex;
}
.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}
.shadow.show {
  display: block;
}
@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav.nav-gallery .items {
    max-width: 600px;
  }
  nav.nav-gallery .items span {
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper {
  }
  .wrapper nav.nav-gallery .items {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav.nav-gallery .items span {
    margin: 5px;
  }
  .gallery .image {
    width: 100%;
  }
}
.hero-slider {
  width: 100%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}
@media (max-width: 991px) {
  .hero-slider {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .hero-slider {
    height: 500px;
  }
  .banner-sec #video {
    border-radius: 10px;
    display: none;
  }
}
.hero-slider .swiper-slide {
  overflow: hidden;
  color: #fff;
}
.hero-slider .swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.hero-slider .slide-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
  background: transparent;
  width: 55px;
  height: 55px;
  line-height: 53px;
  margin-top: -30px;
  text-align: center;
  border: 2px solid #d4d3d3;
  border-radius: 55px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .hero-slider .swiper-button-prev,
  .hero-slider .swiper-button-next {
    display: none;
  }
}
.hero-slider .swiper-button-prev {
  left: 25px;
  transform: translateX(50px);
}
.hero-slider .swiper-button-prev:before {
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}
.hero-slider .swiper-button-next {
  right: 25px;
  transform: translateX(-50px);
}
.hero-slider .swiper-button-next:before {
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  color: #d4d3d3;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
}
.hero-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: left;
  line-height: 12px;
  font-size: 12px;
  color: #000;
  background: #fff;
  transition: all 0.2s ease;
  border-radius: 20px !important;
}
.hero-slider .swiper-pagination-bullet-active {
  background: #0e3554;
  width: 40px;
}
.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
  bottom: 30px;
}
.swiper-pagination {
  text-align: center;
}
.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 50px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 767px) {
  .hero-slider .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 30px;
  }
}
.hero-style {
  height: 850px;
  transition: all 0.4s ease;
}
@media (max-width: 991px) {
  .hero-style {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .hero-style {
    height: 500px;
  }
}
@media screen and (min-width: 992px) {
  .hero-style .container {
    padding-top: 95px;
  }
}
.hero-style .slide-title,
.hero-style .slide-text,
.hero-style .slide-btns {
  max-width: 690px;
}
.hero-style .slide-title h2 {
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 40px;
  text-transform: capitalize;
  transition: all 0.4s ease;
}
@media (max-width: 1199px) {
  .hero-style .slide-title h2 {
    font-size: 75px;
  }
}
@media (max-width: 991px) {
  .hero-style .slide-title h2 {
    font-size: 50px;
    margin: 0 0 35px;
  }
}
@media (max-width: 767px) {
  .hero-style .slide-title h2 {
    font-size: 35px;
    margin: 0 0 30px;
  }
}
.hero-style .slide-text p {
  opacity: 0.8;
  font-family: Rajdhani;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 0 40px;
  transition: all 0.4s ease;
}
@media (max-width: 767px) {
  .hero-style .slide-text p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 30px;
  }
}
.hero-style .slide-btns > a:first-child {
  margin-right: 10px;
}
.theme-btn,
.theme-btn-s2 {
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: #2b3b95;
  padding: 9px 32px;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  display: inline-block;
  line-height: initial;
  transition: all 0.4s ease;
}
a {
  text-decoration: none;
  transition: all 0.2s ease;
}
.theme-btn-s2 {
  background-color: rgba(255, 255, 255, 0.9);
  color: #131e4a;
}
.theme-btn:hover,
.theme-btn-s2:hover,
.theme-btn:focus,
.theme-btn-s2:focus,
.theme-btn:active,
.theme-btn-s2:active {
  background-color: #2b3b95;
  color: #fff;
}
.theme-btn-s3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
i.fa-chevron-circle-right {
  height: 22px;
  width: 22px;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  .theme-btn,
  .theme-btn-s2,
  .theme-btn-s3 {
    font-size: 13px;
    padding: 15px 25px;
  }
}
@media (max-width: 767px) {
  .theme-btn,
  .theme-btn-s2 {
    padding: 13px 20px;
    font-size: 13px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1274px;
  }
}
@media (max-width: 1600px) {
  .contact-info .title h2 {
    font-size: 24px;
  }
  .contact-info .title span {
    font-size: 25px;
    top: -16px;
    left: -11px;
  }
}
@media (max-width: 1400px) {
  .title span {
    font-size: 56px;
    top: -29px;
  }
  .banner-sec .text-box ul {
    margin: 0 -5px;
  }
  .banner-sec .text-box ul li {
    padding: 0 5px;
  }
  .banner-sec .text-box ul li a {
    width: 225px;
    font-size: 18px;
  }
  .banner-sec .text-box ul li a svg {
    margin-right: 5px;
  }
}
@media (max-width: 1300px) {
}
@media (max-width: 1199px) {
  .banner-sec .text-box h1 {
    font-size: 32px;
  }
  .banner-sec .text-box ul {
    justify-content: center;
  }
  .banner-sec .text-box ul li a {
    width: 220px;
    font-size: 18px;
    height: 65px;
  }
  .banner-sec .text-box ul li a svg {
    margin-right: 10px;
    transition: all 0.5s ease-in-out;
  }
  .about-inner .text-box p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .about-inner .text-box strong {
    font-size: 18px;
  }
  .blog-box .image-holder {
    max-width: 200px;
    width: 100%;
  }
  .blog-box .text-box {
    padding-left: 15px;
  }
  .title h2 {
    font-size: 47px;
  }
  .title span {
    font-size: 47px;
  }
  .text-box.plumber-box h2 {
    font-size: 40px;
  }
  .banner-sec .text-box.plumber-box h4 {
    font-weight: normal;
  }
  .blog-box .text-box h3 {
    font-size: 20px;
    line-height: 28px;
    margin: 5px 0;
  }
  .blog-box .text-box p {
    font-size: 14px;
    line-height: 20px;
  }
  .blog-left .text-box h3 {
    font-size: 28px;
    margin: 10px 0;
  }
  .request-call-inner {
    padding: 55px 15px;
  }
  .request-call-inner .form-group .form-control {
    width: 200px;
  }
  .btn-default {
    width: 180px;
  }
  .footer-link {
    padding: 0 0 0 5px;
  }
  .footer-link ul li a {
    font-size: 16px;
  }
  .footer-left p {
    font-size: 14px;
    margin: 20px 0;
  }
  .footer-left ul li {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 5px 0;
  }
  .copyright {
  }
  .copyright p {
    font-size: 16px;
  }
  .footer-link2 {
    padding: 0 0 0 20px;
  }
  .footer-number ul li a {
    font-size: 16px;
    padding: 17px 15px;
  }
  .footer-number ul li a svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
  .contact-us {
    padding: 0 0 0 0;
  }
  .contact-info {
    padding: 60px 15px 30px 15px;
    height: 100%;
  }
  .contact-info .title h2 {
    font-size: 20px;
  }
  .contact-info .title span {
    font-size: 22px;
  }
  .contact-map {
    margin-bottom: 30px;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: 16px;
  }
  .navbar-nav .nav-item .nav-link.ask-btn {
    padding: 5px 25px;
    height: 45px;
  }
  .banner-sec .text-box p {
    font-size: 20px;
    margin: 15px 0;
  }
  .banner-sec {
    padding: 130px 0 30px;
  }
}
@media (max-width: 991px) {
  header {
    padding: 20px 0;
  }
  ul.why li {
    font-size: 16px;
  }
  .navbar-nav .nav-item {
    margin-left: 15px;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
  .navbar-nav .nav-item .nav-link.ask-btn {
    height: 45px;
    padding: 5px 20px;
    font-size: 14px;
  }
  .title span {
    font-size: 32px;
    top: -19px;
    left: -7px;
  }
  .banner-sec .text-box h1 {
    font-size: 26px;
  }
  .banner-sec .text-box p {
    margin: 15px 0;
    font-size: 16px;
  }
  .banner-sec .text-box ul {
    margin: 0 -5px;
  }
  .banner-sec {
    padding: 110px 0 10px;
  }
  .banner-sec .text-box ul li {
    padding: 0 5px;
  }
  .banner-sec .text-box ul li a {
    width: 162px;
    font-size: 14px;
    height: 50px;
  }
  .banner-sec .text-box ul li a svg {
    margin-right: 5px;
    width: 15px;
  }
  .title {
    margin: 0 0 0 18px;
  }
  .about-us-sec {
    padding: 60px 0 70px;
  }
  .about-inner {
    padding: 30px 18px 0;
  }
  .about-inner .text-box p {
    font-size: 16px;
  }
  .about-inner .text-box strong {
    font-size: 16px;
  }
  .blog-inner {
    margin-top: 30px;
    padding: 0 18px;
  }
  .blog-right {
    margin-top: 30px;
  }
  .services-inner {
    margin: 40px 0 0 0;
    padding: 0 18px;
  }
  .services-inner ul li {
    width: 33.3%;
  }
  .request-call-inner form ul {
    flex-wrap: wrap;
    margin: 0 -5px;
  }
  .request-call-inner form ul li {
    padding: 5px 5px;
    width: 50%;
  }
  .request-call-inner .form-group .form-control {
    width: 100%;
  }
  .btn-default {
    width: 100%;
  }
  .request-call-sec {
    padding: 15px 0 50px;
  }
  .request-call-inner form {
    margin: 40px 0 0 0;
  }
  .title h2 {
    font-size: 33px;
  }
  .request-call-sec .title h2::after {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .footer-left {
    margin-bottom: 30px;
  }
  .footer-left p {
    font-size: 16px;
    margin: 15px 0;
  }
  .footer-link2 {
    padding: 0;
  }
  .copyright {
    flex-direction: column;
  }
  .copyright p {
    padding: 10px 0;
  }
  .footer-number ul li a svg {
    margin-right: 10px;
    width: 16px;
  }
  .footer-number ul li a {
    font-size: 16px;
    padding: 15px 15px;
    max-width: 220px;
    width: 100%;
  }
  .privacy-sec ul li {
    padding: 5px;
    width: auto;
  }
  .who-we-page .plum-service-sec .card {
    margin-bottom: 10px;
  }
  .who-we-page .plum-service-sec .card-body {
    padding: 0 0 30px 0;
  }
  .plum-service-sec .card-land-proptality h5.card-title {
    font-size: 22px;
    margin: 0 0 30px 0;
  }
  .contact-info {
    padding: 0 0 50px 0;
    height: 100%;
  }
  .contact-info .title h2 {
    font-size: 26px;
  }
  .contact-info .title span {
    font-size: 28px;
  }
  .contact-us-banner .image-holder .text-box h3 {
    font-size: 20px;
  }
  .our-work-inner .nav-pills .nav-item .nav-link {
    padding: 8px 20px;
    font-size: 16px;
  }
  .cta-sec .title h2 {
    font-size: 24px;
    text-align: center;
  }
  .footer-number {
    margin-top: 30px;
  }
  .proactive-page .card-body {
    padding: 0 0 20px 0;
  }
  .plum-service-sec .card {
    margin-bottom: 15px;
  }
  .faq-sec {
    padding: 0 0 50px 0;
  }
}
@media (max-width: 767px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
  header {
    padding: 40px 17px;
  }
  .navbar-brand img {
    height: 40px;
  }
  img.img-fluid.why-us {
    margin-bottom: 40px;
  }
  .navbar-toggler {
    border: none;
    padding: 0;
    background: #ffffff;
    border-radius: 12px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-collapse {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 20px 5px;
    top: 50px;
  }
  .navbar-nav .nav-item {
    margin: 0;
    width: 100%;
    display: block;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 5px 0;
  }
  .navbar-nav .nav-item .nav-link.ask-btn {
    max-width: 275px;
    height: 55px;
    font-size: 20px;
    margin: 5px auto 0;
  }
  .banner-sec {
    padding: 42px 17px 40px;
  }
  .banner-sec .image-holder {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .banner-sec .text-box {
    margin: -127px 0 0 0;
    text-align: center;
  }
  .text-box.plumber-box {
    margin: 0;
  }
  .pulmber-box-inner {
    width: 100%;
  }
  .banner-sec .text-box h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .banner-sec .text-box p {
    font-size: 16px;
    margin: 22px 0 56px;
  }
  .banner-sec .text-box ul {
    margin: 15px 0 0 0;
    flex-direction: column;
  }
  .banner-sec .text-box ul li {
    padding: 0;
    width: 100%;
    margin-bottom: 16px;
  }
  .banner-sec .text-box ul li:last-child {
    margin: 0;
  }
  .banner-sec .text-box ul li a {
    width: 100%;
    max-width: 268px;
    letter-spacing: 0.1em;
    height: 54px;
    margin: 0 auto;
    font-size: 16px;
  }
  .banner-sec .text-box ul li a svg {
    margin-right: 15px;
    width: 18px;
  }
  .about-us-sec {
    padding: 60px 17px 70px;
  }
  .title {
    text-align: center;
    margin: 0;
    width: 100%;
  }
  .title h2 {
    font-size: 32px;
  }
  .title span {
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 31px;
    top: -23px;
    width: 100%;
  }
  .title h2::after {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .about-us-sec {
    padding: 55px 17px 55px;
  }
  .about-inner {
    padding: 30px 0 0;
  }
  .about-inner .text-box p {
    margin-bottom: 8px;
  }
  .blog-sec {
    padding: 40px 17px;
  }
  .blog-sec .media {
    flex-direction: column;
  }
  .blog-left .text-box h3 {
    font-size: 24px;
    margin: 15px 0 10px;
  }
  .blog-left .text-box p {
    font-size: 16px;
  }
  .blog-inner {
    margin: 0;
    padding: 0;
  }
  .blog-box {
    flex-direction: column;
    margin: 0 0 40px 0;
  }
  .blog-box .image-holder {
    width: 100%;
    max-width: 100%;
  }
  .blog-box .image-holder img {
    width: 100%;
  }
  .blog-box .text-box {
    padding-left: 0;
    padding-top: 26px;
  }
  .blog-box .text-box h3 {
    font-size: 24px;
    line-height: 1;
    margin: 19px 0 7px;
  }
  .blog-box .text-box h3 br {
    display: none;
  }
  .blog-box .text-box p {
    max-width: 100%;
    font-size: 16px;
    line-height: 150%;
  }
  .blog-right {
    margin-top: 44px;
  }
  .visite-blog-btn {
    margin: 30px auto 0;
    height: 58px;
    font-size: 16px;
  }
  .services-sec {
    padding: 50px 17px;
  }
  .services-inner ul {
    margin: 0 -4px;
  }
  .services-inner ul li {
    width: 50%;
    padding: 5px 4px;
  }
  .services-inner {
    margin: 28px 0 0 0;
    padding: 0;
  }
  .services-box {
    padding: 26px 0;
  }
  .request-call-sec {
    background: #111c38;
    padding: 58px 17px 60px;
  }
  .request-call-inner {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
  .request-call-inner form ul {
    flex-direction: column;
  }
  .request-call-inner form ul li {
    width: 100%;
    padding: 0;
    margin-bottom: 16px;
  }
  .request-call-inner form ul li:last-child {
    margin: 0;
  }
  .request-call-inner form {
    margin: 50px 0 0 0;
  }
  .footer-left {
    border-bottom: 1px solid #b4d0df;
    padding: 0 0 42px 18px;
    margin-bottom: 40px;
  }
  .footer-left p {
    font-size: 17px;
    margin: 31px 0 17px;
  }
  .footer-left ul li {
    margin: 0 0 4px 0;
  }
  .footer-link {
    padding: 0 0 0 18px;
  }
  .footer-link h4 {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .footer-link ul li a {
    font-size: 16px;
  }
  .footer-link ul li {
    margin-bottom: 8px;
  }
  .footer-number {
  }
  .footer-number ul li a {
    margin: 0 auto;
    max-width: 269px;
  }
  .copyright p {
    font-size: 16px;
  }
  .privacy-sec {
    padding: 100px 0 10px;
  }
  .privacy-sec .title h3 {
    font-size: 24px;
  }
  .privacy-sec h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .privacy-sec ul li {
    padding: 5px;
    width: auto;
  }
  .privacy-sec ul {
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .contact-us-banner .image-holder .text-box h3 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .contact-us-banner .image-holder .text-box {
    padding: 20px 15px;
  }
  .card-land-proptality ul {
    padding: 0 0 0 20px;
  }
  .navbar-nav .nav-item .dropdown-menu li:hover ol {
    display: block;
  }
  .navbar-nav .nav-item .dropdown-menu li ol {
    position: static;
    display: none;
  }
  .contact-info .title {
    text-align: left;
  }
  .contact-info .title h2::after {
    left: 0;
    transform: translate(0, 0);
  }
  .contact-info .title span {
    font-size: 28px;
    left: -6px;
    transform: translate(0, 0);
  }
  .our-work-inner .nav-pills .nav-item {
    padding: 5px 5px;
  }
  .our-work-inner .nav-pills .nav-item .nav-link {
    padding: 8px 20px;
    font-size: 14px;
  }
  .cta-sec .title h2 {
    font-size: 20px;
    text-align: center;
    line-height: 28px;
  }
  .cta-sec .text-box ul li a {
    width: 220px;
    font-size: 16px;
    height: 60px;
  }
  .cta-sec .text-box ul li a svg {
    margin-right: 10px;
  }
  .cta-sec {
    padding: 50px 0;
  }
  .accordion-button {
    font-size: 14px;
    padding: 15px 50px 15px 15px;
  }
  .accordion-body table thead tr th,
  .accordion-body table tbody tr td {
    padding: 10px 10px;
    font-size: 14px;
  }
  .pricing table thead tr th,
  .pricing table tbody tr td {
    padding: 5px 10px;
    font-size: 14px;
  }
  .why-inner .card img {
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .banner-sec .text-box h1 {
    max-width: 334px;
    width: 100%;
    margin: 0 auto;
  }
  .banner-sec .text-box p {
    max-width: 360px;
    width: 100%;
    margin: 25px auto;
  }
  section.services-sec p {
    font-size: 16px;
  }
  .services-inner ul li {
    padding: 4px 4px;
  }
  .footer-number ul li a {
    padding: 17px 15px;
  }
  .contact-us-banner .image-holder .text-box h3 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .contact-us-banner .image-holder .text-box {
    padding: 15px;
  }
  .contact-info h4 {
    font-size: 20px;
  }
  .our-work-inner .nav-pills .nav-item .nav-link {
    padding: 7px 10px;
    font-size: 12px;
  }
  .cd-image-container {
    margin: 30px auto;
  }
  .cta-sec .text-box ul {
    flex-direction: column;
    margin: 30px -0;
  }
  .cta-sec .text-box ul li {
    padding: 10px 0;
  }
  .cta-sec {
    padding: 20px 0;
  }
  .cta-sec .text-box ul li a svg {
    margin-right: 10px;
    width: 18px;
  }
  .cta-sec .text-box ul li a {
    width: 200px;
    font-size: 16px;
    height: 50px;
  }
  .plum-service-sec {
    padding: 100px 0;
  }
  .footer-link ul li a {
    font-size: 14px;
  }
  .accordion-button::after {
    background-size: 14px;
    width: 14px;
    height: 14px;
    right: 10px;
  }
  .accordion-button:not(.collapsed)::after {
    background-size: 14px;
    width: 14px;
    right: 10px;
    height: 5px;
  }
  .accordion-body {
    padding: 0 15px 20px;
  }
  .accordion-body table thead tr th,
  .accordion-body table tbody tr td {
    padding: 8px 5px;
    font-size: 10px;
  }
  .text-box.plumber-box h2 {
    font-size: 30px;
  }
  .pulmber-box-inner {
    width: 100%;
  }
}
@media (max-width: 374px) {
  .banner-sec .text-box h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .banner-sec .text-box {
  }
  .banner-sec .text-box p {
    margin: 30px auto;
  }
  .blog-left .text-box h3 {
    font-size: 22px;
  }
  .blog-left .text-box h3 a img {
    height: 14px;
  }
  .blog-left .text-box h3 a {
    bottom: -5px;
  }
  .blog-box .text-box h3 {
    font-size: 22px;
    line-height: 30px;
  }
  .services-inner ul li {
    padding: 5px 4px;
  }
  .title h2 {
    font-size: 28px;
  }
  .footer-link {
    padding: 0;
  }
  .contact-info .title h2 {
    font-size: 24px;
  }
  .contact-info .title span {
    font-size: 26px;
  }
}
